@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "inter", sans-serif;
  color: white;
  background-color: $main-bg;
}

.container {
  display: flex;
  border-top: 1px solid $soft-bg;
  border-bottom: 1px solid $soft-bg;
}

.menuContainer {
  width: 250px;
  padding: 5px 20px;
  background-color: $dark-bg;
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid $soft-bg;
}

.contentContainer {
  width: 100%;
  padding: 5px 20px;
  background-color: $main-bg;
}